.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 50px;
}

.image-profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.432);
    
}

.dropdown-menu {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 3px;
    width: 200%;
    margin-top: 5px;
}

.section-dropdown {
}