.plusbutton {
    padding: 2%;
    border-radius: 10px;
    background-color: #ca0000;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.white-plus-icon{
    fill: white;
    font-size: 200%
}