.home-container {
    display: relative;
    padding: 20px;
    padding-top: 80px;
}

.profile {
    position: fixed;
    top: 20px; /* Adjust the top distance as needed */
    right: 30px;
}

.logo {
    position: fixed;
    top: 20px; /* Adjust the top distance as needed */
    left: 20px;
}