.container-signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-signup{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 750px;
    height: 600px;
    background-color: rgb(218, 218, 218);
    border-radius: 10%;
    align-items: center;
}

.box-content-signup{
    position: absolute;
}

.logo-signup{
    margin-top: 70px;
    font-size: 375%;
    font-weight: bold;
}

.section-container-signup{
    margin-top: 70px;
}


.section-signup{
    position:absolute;
    right: -25%;
}

.section-2-signup{
    top:150%;
}

.subtitle-signup{
    font-weight: bold;
}

.section-container-signup{
    display: flex;
    
}

.button-signup{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 425px;
    right: -80px;
}

.line-signup{
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(218, 218, 218);
    width: 500px;
    margin-top: 10px;
}

.line-signup:focus{
    border: none;
}

.route-signup{
    color: rgb(187, 0, 0)
}

.signup-message{
    position: relative;
    bottom: -90%;
}

.google-signup {
    background: rgb(35, 35, 223);
    color: white;
    font-weight: bold;
    height: 30px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: -242px;
    left: -90px;
}